{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}



<div class="writer">

<form action="{{ url_for('cliente.formCliente') }}" method="POST">
    <h1>cliente</h1>
    <button class="btn btn-secondary"type="submit" name="formNovo">Novo Cliente</button>
</form>



    <table class="formt">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Pega_fiado</th>
                    <th scope="col">Login</th>
                    <th scope="col">Senha</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for row in result[0] %}
                
                <tr>
                    <th scope="row">{{ row['id_cliente']}}</th>
                    <td>{{ row['nome'] }}</td>
                    <td>{{ row['cpf'] }}</td>
                    <td>{{ row['matricula'] }}</td>
                    <td>{{ row['telefone'] }}</td>
                    <td>{{ row['pega_fiado'] }}</td>
                    <td>{{ row['login'] }}</td>
                    <td>{{ row['senha'] }}</td>
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
{% endblock %}

