{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set login = result[0].login if result else '' %}


{% set pega_fiado = result[0].pega_fiado if result else '' %}
{% set matricula = result[0].matricula if result else '' %}
{% set senha = result[0].senha if result else '' %}



{% block content %}


  <body>
    <div id="main-container">

      <h1>Cliente - {{ "%s: %s" % ('Editar Registros', id) if result else 'Novo' }}</h1>
      <!-- <form name="cliente" id="form" action="{{ url_for('cliente.insert') }}" method="POST"> -->
        <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
id="{{ 'formEditar' if result else 'formAdicionar' }}"
action="{{ url_for('cliente.edit') if result else url_for('cliente.insert') }}"
method="POST">

        <!-- <div class="full-box">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" placeholder="Digite seu e-mail" data-min-length="2" data-email-validate>
        </div> -->

        <div class="half-box spacing">
          <label for="name">Id</label>
          <input type="text" name="id" id="id"   value="{{ id }}">>
      </div>


        <div class="half-box spacing">
            <label for="name">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" data-required data-min-length="3" data-max-length="16" value="{{ nome }}">>
        </div>

        <div class="half-box ">
          <label for="name">CPF</label>
          <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" data-required data-min-length="12" data-max-length="12" value="{{ cpf }}">>
      </div>

      <div class="half-box spacing">
        <label for="lastname">Telefone</label>
        <input type="tel" name="telefone" id="telefone" placeholder="(00)00000-0000" data-required data-max-length="11" value="{{ telefone }}"> >
    </div>


    <div class="half-box spacing">
        <label for="lastname">login</label>
        <input type="text" name="login" id="login" placeholder="Digite seu login" data-required data-max-length="11" value="{{ login }}"> >
    </div>
    

    <div class="half-box spacing">
    <label for="grupo">Pega Fiado</label>
    <select name="pega_fiado" id="pega_fiado" aria-label="Grupo">
      <option value="{{ pega_fiado }}" selected>{{ grupo }}</option>
      <option value="0">Sim</option>
      <option value="1">Não</option>
      
      </select>
</div>
<div class="half-box spacing">
  <label for="lastname">matricula</label>
  <input type="text" name="matricula" id="matricula" placeholder="Digite sua matricula" data-required data-max-length="11" value="{{ matricula }}">>
</div>


      <!-- <legend>Compra fiado:</legend>
  <div class="half-box spacing">
    <label for="caixa">Sim</label>
    <input type="radio" name="radioo" id="cpFiado"   >
   -->

<!--   
    <label for="balcao">Não</label>
  <input type="radio" name="radioo" id="cpFiado"  >
  </div> -->


  <!-- <div class="half-box spacing">
    <label for="lastname">Dia fiado</label>
    <input type="number" name="diaFiado" id="DiaFiado"  data-required  >
</div> -->


  

 





    
    


  



        <div class="half-box spacing">
          <label for="lastname">Senha</label>
          <input type="password" name="senha" id="senha" placeholder="Digite sua senha" data-password-validate data-required  value="{{ senha }}">>
        </div>

        <div class="half-box">
          <label for="passconfirmation">Confirmação de senha</label>
          <input type="password" name="psenha" id="passwordconfirmation" placeholder="Digite novamente sua senha" data-equal="password">
        </div>

        <div>
          <input type="checkbox" name="agreement" id="agreement">
          <label for="agreement" id="agreement-label">Eu li e aceito os <a href="#">termos de uso</a></label>
        </div>

        <div class="full-box">
          <input id="btn-submit" type="submit" name="salvar" value="Registrar">
        </div>
      </form>
    </div>
    <p class="error-validation template"></p>
    <script src="js/scripts.js"></script>
  </body>

 


</main>


{% endblock %}